<a href="https://www.kaggle.com/code/shrikanthbadiger/exploring-stastical-measures?scriptVersionId=161415131" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/list-of-top-50-largest-companies-in-india/List of largest companies in India.csv

In [2]:
df=pd.read_csv("/kaggle/input/list-of-top-50-largest-companies-in-india/List of largest companies in India.csv")

In [3]:
df.head()

,Unnamed: 0,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63,Conglomerate
1,1,2,105,State Bank of India,Mumbai,54.52,4.32,696.51,58.39,Banking
2,2,3,154,HDFC Bank,Mumbai,22.51,5.11,280.16,98.28,Banking
3,3,4,205,ICICI Bank,Mumbai,21.89,3.01,226.39,67.90,Banking
4,4,5,229,Oil and Natural Gas Corporation,New Delhi,66.28,6.00,75.51,28.62,Oil and gas

In [4]:
df.columns

Index(['Unnamed: 0', 'Rank', 'Forbes 2000 rank', 'Name', 'Headquarters',
       'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)',
       'Value(billions US$)', 'Industry'],
      dtype='object')

In [5]:
df1=pd.read_csv("/kaggle/input/list-of-top-50-largest-companies-in-india/List of largest companies in India.csv",index_col='Unnamed: 0')

In [6]:
df1.head()

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63,Conglomerate
1,2,105,State Bank of India,Mumbai,54.52,4.32,696.51,58.39,Banking
2,3,154,HDFC Bank,Mumbai,22.51,5.11,280.16,98.28,Banking
3,4,205,ICICI Bank,Mumbai,21.89,3.01,226.39,67.90,Banking
4,5,229,Oil and Natural Gas Corporation,New Delhi,66.28,6.00,75.51,28.62,Oil and gas

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   50 non-null     int64
 1   Forbes 2000 rank       50 non-null     int64
 2   Name                   50 non-null     object
 3   Headquarters           50 non-null     object
 4   Revenue(billions US$)  50 non-null     float64
 5   Profit(billions US$)   50 non-null     object
 6   Assets(billions US$)   50 non-null     float64
 7   Value(billions US$)    50 non-null     float64
 8   Industry               50 non-null     object
dtypes: float64(3), int64(2), object(4)
memory usage: 3.9+ KB

In [8]:
df1.describe()

,Rank,Forbes 2000 rank,Revenue(billions US$),Assets(billions US$),Value(billions US$)
count,50.00000,50.000000,50.000000,50.000000,50.00000
mean,25.50000,925.680000,17.383600,70.634800,34.13380
std,14.57738,510.938929,18.483696,111.940424,40.86649
min,1.00000,54.000000,0.350000,0.500000,2.50000
25%,13.25000,547.750000,6.192500,11.685000,11.81750
50%,25.50000,824.500000,11.500000,34.590000,21.34500
75%,37.75000,1430.250000,20.017500,86.347500,38.92750
max,50.00000,1759.000000,86.850000,696.510000,228.63000

In [9]:
df.isna().sum()

Unnamed: 0               0
Rank                     0
Forbes 2000 rank         0
Name                     0
Headquarters             0
Revenue(billions US$)    0
Profit(billions US$)     0
Assets(billions US$)     0
Value(billions US$)      0
Industry                 0
dtype: int64

In [10]:
#to check summary of objects/strings
df1.describe(include='object')

                       Name Headquarters Profit(billions US$) Industry
count                    50           50                   50       50
unique                   50           10                   47       19
top     Reliance Industries       Mumbai                 0.87  Banking
freq                      1           22                    2       12

In [11]:
df1.describe(include='int')

           Rank  Forbes 2000 rank
count  50.00000         50.000000
mean   25.50000        925.680000
std    14.57738        510.938929
min     1.00000         54.000000
25%    13.25000        547.750000
50%    25.50000        824.500000
75%    37.75000       1430.250000
max    50.00000       1759.000000

In [12]:
df1.describe(include='all')

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
count,50.00000,50.000000,50,50,50.000000,50,50.000000,50.00000,50
unique,NaN,NaN,50,10,NaN,47,NaN,NaN,19
top,NaN,NaN,Reliance Industries,Mumbai,NaN,0.87,NaN,NaN,Banking
freq,NaN,NaN,1,22,NaN,2,NaN,NaN,12
mean,25.50000,925.680000,NaN,NaN,17.383600,NaN,70.634800,34.13380,NaN
std,14.57738,510.938929,NaN,NaN,18.483696,NaN,111.940424,40.86649,NaN
min,1.00000,54.000000,NaN,NaN,0.350000,NaN,0.500000,2.50000,NaN
25%,13.25000,547.750000,NaN,NaN,6.192500,NaN,11.685000,11.81750,NaN
50%,25.50000,824.500000,NaN,NaN,11.500000,NaN,34.590000,21.34500,NaN
75%,37.75000,1430.250000,NaN,NaN,20.017500,NaN,86.347500,38.92750,NaN
max,50.00000,1759.000000,NaN,NaN,86.850000,NaN,696.510000,228.63000,NaN

In [13]:
df1.columns

Index(['Rank', 'Forbes 2000 rank', 'Name', 'Headquarters',
       'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)',
       'Value(billions US$)', 'Industry'],
      dtype='object')

In [14]:
df1.Industry.value_counts()

Industry
Banking               12
Oil and gas            5
Infotech               5
Financials             4
Iron and steel         3
Utilities              3
Metals and mining      3
Automotive             3
Consumer Goods         2
Conglomerate           1
Shipping               1
Chemicals              1
Gems and jewellery     1
Renewable energy       1
Telecommunication      1
Pharmaceuticals        1
Diversified            1
Capital goods          1
Retail                 1
Name: count, dtype: int64